@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website for Kalydon that manages:
        <ul>
            <li> Clients </li>
            <li> Meetings </li>
            <li> Projects </li>
        </ul>

    </p>
</div>
